.quality{
   margin-bottom: 168px;
}

.quality .container{
   position: relative;
   padding: 115px 85px;
   background: #2C343E;
   border-radius: 10px;
}

.quality .container::after{
   position: absolute;
   top: -110px;
   right: 55px;
   display: block;
   width: 445px;
   height: 474px;
   background-image: url("../image/Bitmap-quality.png");
   background-repeat: no-repeat;
   background-size: contain;
   border-radius: 8px;
   content: "";
}

.quality__page{
   width: 540px;
   margin-left: 85px;
}

.qualiyy-page__heading{
   margin-top: 0;
   margin-bottom: 32px;
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #FEFCF7;
}

.quality-page__info{
   margin-top: 0;
   font-family: "Barlow";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #FEFCF7;
   mix-blend-mode: normal;
   opacity: 0.8;
}